Package: com.hackingdartmouth.shiftcycle
Name: ShiftCycle
Depends: mobilesubstrate
Version: 1.3.1
Architecture: iphoneos-arm
Description: Allows you to cycle a selection through uppercase, lowercase, and more with the Shift key.
Maintainer: Alex Beals <Alex.Beals.18@dartmouth.edu>
Author: Alex Beals <Alex.Beals.18@dartmouth.edu>
Section: Tweaks
Depiction: http://cydia.alexbeals.com/ShiftCycle
