<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Cycle Options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.hackingdartmouth.shiftcycle</string>
			<key>key</key>
			<string>uppercase</string>
			<key>label</key>
			<string>Uppercase: SAMPLE TEXT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.hackingdartmouth.shiftcycle</string>
			<key>key</key>
			<string>lowercase</string>
			<key>label</key>
			<string>Lowercase: sample text</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.hackingdartmouth.shiftcycle</string>
			<key>key</key>
			<string>capitalized</string>
			<key>label</key>
			<string>Capitalized: Sample Text</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.hackingdartmouth.shiftcycle</string>
			<key>key</key>
			<string>concatenated</string>
			<key>label</key>
			<string>Concatenated: SampleText</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>About</string>
		</dict>
		<dict>
			<key>action</key>
			<string>donate</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>paypal.png</string>
			<key>label</key>
			<string>Donate to Developer</string>
		</dict>
		<dict>
			<key>action</key>
			<string>source</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>github.png</string>
			<key>label</key>
			<string>Source Code on GitHub</string>
		</dict>
		<dict>
			<key>action</key>
			<string>email</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>mail.png</string>
			<key>label</key>
			<string>Email Developer</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>© 2015 Alex Beals</string>
		</dict>
	</array>
	<key>title</key>
	<string>ShiftCycle</string>
</dict>
</plist>
